body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

main a{
    color: #43853d;
}

header {
    background-color: #222;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-center img{
    width: 130px;
    height: auto;
}

.nav a{
    color: whitesmoke;
    padding: 15px;
    font-size: 13px;
}

.middle-text{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 20px;
}

.update {
    padding-bottom: 20px;
}

.security{
    background-color: #eaf5e9;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #333;
    font: 'Source Sans Pro',Open Sans,Roboto,'San Francisco',Helvetica,Arial,sans-serif;
    font-size: 150%;
}

.download{
    font-size: 30px;
    padding-bottom: 15px;
}

.dl{
    margin-bottom: 0px;
}

.options {
    background-color: white;
}


.col-2andahalf {
    flex: 0 0 25%;
    max-width: 20%;
}

.dlbutton {
    color: white;
    background-color: #026e00;
    width: 90%;
    height: 70%;
    margin: auto;
    padding-top: 15px;
}


.dlbutton p{
    font-size: 14px;
}

.otherlinks{
    margin-top: 5px;
    font-size: 13px;
    color: #51744e;
}

.other, .other2 {
    padding-top: 15px;
    font: 400 20px/1.5 'Source Sans Pro',Open Sans,Roboto,'San Francisco',Helvetica,Arial,sans-serif;
}

.other2{
    padding-bottom: 45px;
}

.linux{
    font-size: 20px;
}

.linux, .copyright {
    margin-bottom: 13px;
}

footer{
    padding: 20px;
    background-color: #222222;
    color: whitesmoke;
}

footer a{
    color: #ccc;
}

.right{
    
}

footer p{
    margin-left: 8%;
    margin-bottom: 0;
}

